footer {
  position:fixed;
  bottom: -30px;
  width: 100%;
  min-height: 5vh;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem!important;
}

.header{
  margin-bottom:60px;
}

.fuentes{
  text-decoration: none;
  color: black;
}

.fuentes:hover{
  text-decoration: none;
  color: #363636;
}

.contenido{
  max-width: 60%!important;
}

.error404{
  font-size: 80px;
}

.error404-contenido{
  font-size: 30px;
}

.botonCargarMas{
  margin-bottom: 100px;
  margin-top: 30px
}